name: CI

on:
  push:

permissions:
  contents: read # for checkout

jobs:
  test:
    name: Node.js ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 24
          - 22
          - 20
    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
          cache-dependency-path: ./yarn.lock

      - name: Ignore engine mismatch in dependencies so we can test multiple node versions
        run: yarn config set ignore-engines true

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn test
